*,
*::after,
*::before {
  box-sizing: border-box; }

a:active,
a:focus,
a:checked,
a:-webkit-any-link {
  text-decoration: none;
  color: #000000; }

a:active,
a:focus,
a:checked,
a:any-link {
  text-decoration: none;
  color: #000000; }

.container {
  min-width: 720px;
  max-width: 1400px;
  margin: 0 auto; }

.header {
  height: 448px;
  width: 100%;
  background-image: linear-gradient(45deg, #fe6a82 0%, #9325ef 100%);
  text-align: center;
  color: #ffffff;
  position: relative; }

.header::before {
  content: "";
  width: 400px;
  height: 50px;
  background-image: url("../wecreate-assets/wecreate-assets/img/wave-top2.svg");
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 1; }

.header::after {
  content: "";
  width: 477px;
  height: 57px;
  background-image: url("../wecreate-assets/wecreate-assets/img/wave-top.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  right: 0;
  bottom: -33px;
  z-index: 1; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding-top: 48px; }

a.navigation__link {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #582782;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.header__title {
  font-size: 116px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 50px 0 -30px 0; }

.header__title::after {
  content: ".";
  font-size: 1.5em;
  margin: 0; }

.header__subtitle {
  font-size: 21px;
  font-family: 'Roboto', sans-serif; }

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px; }

.right {
  flex-flow: row; }

.left {
  flex-flow: row-reverse; }

.subdescription {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 150px; }

.subdescription__title {
  font-size: 27px;
  color: #5f1b98;
  font-family: "Montserrat";
  font-weight: bold;
  position: relative; }

.backgroundNumber::before {
  content: attr(title);
  width: 250px;
  position: absolute;
  font-size: 180px;
  color: #e579d7;
  left: -100px;
  top: -30px;
  z-index: -1; }

.subdescription__note {
  font-size: 12px;
  color: #440c74;
  font-family: "Roboto";
  line-height: 22px; }

.subdescription__button {
  font-size: 15px;
  color: #440c74;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #440c74;
  height: 35px; }

.description__image {
  display: inline-block;
  width: 409px;
  height: auto;
  margin: 0; }

.crazy-section {
  height: 600px;
  background-image: url("../wecreate-assets/wecreate-assets/img/fullbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%; }

.crazy-section__title {
  line-height: 600px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  font-size: 73px; }

.footer {
  height: 500px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(-50deg, #9325ef 0%, #ff7fc4 100%);
  padding: 0 180px; }

.marketing {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  padding: 45px 0 15px 0; }

.marketing__title {
  color: #440c74;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 63px; }

.marketing__designedBy {
  color: #541879;
  font-family: "Montserrat";
  justify-self: flex-end; }

.contact-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contact-form__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0; }

.contact-form__label {
  margin: 0;
  font-size: 12px;
  line-height: 33px;
  color: #440c74;
  font-family: "Roboto"; }

.contact-form__area {
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #430b73; }

.textarea {
  border: 1px solid #430b73;
  border-bottom-width: 2px;
  border-left-width: 2px; }

.contact-form__button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 50%; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0E7OztFQUdJLHVCQUFzQixFQUN6Qjs7QUFFRDs7OztFQUlJLHNCQUFxQjtFQUNyQixlQUFjLEVBQ2pCOztBQU5EOzs7O0VBSUksc0JBQXFCO0VBQ3JCLGVBQWMsRUFDakI7O0FBRUQ7RUFDSSxpQkFBZ0I7RUFDaEIsa0JBQWlCO0VBQ2pCLGVBQWMsRUFDakI7O0FBR0Q7RUFDSSxjQUFhO0VBQ2IsWUFBVztFQUNYLG1FQUFrRTtFQUNsRSxtQkFBa0I7RUFDbEIsZUFBYztFQUNkLG1CQUFrQixFQUNyQjs7QUFHRDtFQUNJLFlBQVc7RUFDWCxhQUFZO0VBQ1osYUFBWTtFQUNaLDhFQUE2RTtFQUM3RSx5QkFBd0I7RUFDeEIsbUJBQWtCO0VBQ2xCLFNBQVE7RUFDUixhQUFZO0VBQ1osV0FBVSxFQUNiOztBQUdEO0VBQ0ksWUFBVztFQUNYLGFBQVk7RUFDWixhQUFZO0VBQ1osNkVBQTRFO0VBQzVFLDZCQUE0QjtFQUM1QixzQkFBcUI7RUFDckIsbUJBQWtCO0VBQ2xCLFNBQVE7RUFDUixjQUFhO0VBQ2IsV0FBVSxFQUNiOztBQUdEO0VBQ0ksY0FBYTtFQUNiLHdCQUF1QjtFQUN2QixvQkFBbUI7RUFDbkIsYUFBWTtFQUNaLGtCQUFpQixFQUNwQjs7QUFHRDtFQUNJLHNCQUFxQjtFQUNyQixlQUFjO0VBQ2QsZ0JBQWU7RUFDZiwwQkFBeUI7RUFDekIsZUFBYztFQUNkLHNDQUFxQztFQUNyQyxrQkFBaUIsRUFDcEI7O0FBRUQ7RUFDSSxpQkFBZ0I7RUFDaEIsc0NBQXFDO0VBQ3JDLGtCQUFpQjtFQUNqQix1QkFBc0IsRUFDekI7O0FBRUQ7RUFDSSxhQUFZO0VBQ1osaUJBQWdCO0VBQ2hCLFVBQVMsRUFDWjs7QUFFRDtFQUNJLGdCQUFlO0VBQ2Ysa0NBQWlDLEVBQ3BDOztBQUlEO0VBQ0ksY0FBYTtFQUNiLG9CQUFtQjtFQUNuQix3QkFBdUI7RUFDdkIsY0FBYyxFQUVqQjs7QUFFRDtFQUNJLGVBQWMsRUFDakI7O0FBRUQ7RUFDSSx1QkFBc0IsRUFDekI7O0FBRUQ7RUFDSSxhQUFZO0VBQ1osY0FBYTtFQUNiLHVCQUFzQjtFQUN0Qix3QkFBdUI7RUFDdkIsOEJBQTZCO0VBQzdCLGdCQUFlLEVBQ2xCOztBQUVEO0VBQ0ksZ0JBQWU7RUFDZixlQUFjO0VBQ2QsMEJBQXlCO0VBQ3pCLGtCQUFpQjtFQUNqQixtQkFBa0IsRUFDckI7O0FBQ0Q7RUFDSSxxQkFBb0I7RUFDcEIsYUFBWTtFQUNaLG1CQUFrQjtFQUNsQixpQkFBZ0I7RUFDaEIsZUFBYztFQUNkLGFBQVk7RUFDWixXQUFVO0VBQ1YsWUFBVyxFQUNkOztBQUdEO0VBQ0ksZ0JBQWU7RUFDZixlQUFjO0VBQ2Qsc0JBQXFCO0VBQ3JCLGtCQUFpQixFQUNwQjs7QUFFRDtFQUNJLGdCQUFlO0VBQ2YsZUFBYztFQUNkLDBCQUF5QjtFQUN6QixrQkFBaUI7RUFDakIsOEJBQTZCO0VBQzdCLDBCQUF5QjtFQUN6QixhQUFZLEVBQ2Y7O0FBRUQ7RUFDSSxzQkFBcUI7RUFDckIsYUFBWTtFQUNaLGFBQVk7RUFDWixVQUFTLEVBQ1o7O0FBR0Q7RUFDSSxjQUFhO0VBRWIsMkVBQTBFO0VBQzFFLDZCQUE0QjtFQUM1Qix1QkFBc0I7RUFDdEIseUJBQXdCLEVBRzNCOztBQUVEO0VBQ0ksbUJBQWtCO0VBQ2xCLG1CQUFrQjtFQUNsQiwwQkFBeUI7RUFDekIsa0JBQWlCO0VBQ2pCLFlBQVc7RUFDWCxnQkFBZSxFQUVsQjs7QUFFRDtFQUNJLGNBQWE7RUFDYixjQUFhO0VBQ2IsOEJBQTZCO0VBQzdCLG9FQUFtRTtFQUNuRSxpQkFBZ0IsRUFDbkI7O0FBRUQ7RUFDSSxhQUFZO0VBQ1osY0FBYTtFQUNiLHVCQUFzQjtFQUN0QiwrQkFBOEI7RUFDOUIsV0FBVTtFQUNWLHVCQUFzQixFQUN6Qjs7QUFFRDtFQUNJLGVBQWM7RUFDZCwwQkFBeUI7RUFDekIsa0JBQWlCO0VBQ2pCLGdCQUFlLEVBR2xCOztBQUVEO0VBQ0ksZUFBYztFQUNkLDBCQUF5QjtFQUN6Qix1QkFBc0IsRUFDekI7O0FBRUQ7RUFDSSxXQUFVO0VBQ1YsY0FBYTtFQUNiLHVCQUFzQjtFQUN0Qix3QkFBdUIsRUFDMUI7O0FBRUQ7RUFDSSxjQUFhO0VBQ2IsdUJBQXNCO0VBQ3RCLHdCQUF1QjtFQUN2QixlQUFjLEVBQ2pCOztBQUVEO0VBQ0ksVUFBUztFQUNULGdCQUFlO0VBQ2Ysa0JBQWlCO0VBQ2pCLGVBQWM7RUFDZCxzQkFBcUIsRUFDeEI7O0FBRUQ7RUFDSSxVQUFTO0VBQ1QsOEJBQTZCO0VBQzdCLGFBQVk7RUFDWixpQ0FBZ0MsRUFDbkM7O0FBRUQ7RUFDSSwwQkFBeUI7RUFDekIseUJBQXdCO0VBQ3hCLHVCQUFzQixFQUN6Qjs7QUFFRDtFQUNJLDhCQUE2QjtFQUM3Qix1QkFBc0I7RUFDdEIsWUFBVztFQUNYLDBCQUF5QjtFQUN6QixrQkFBaUI7RUFDakIsYUFBWTtFQUNaLGtCQUFpQjtFQUNqQixtQkFBa0I7RUFDbEIsV0FBVSxFQUNiIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vIGJveC1zaXppbmcgZXZlcnl0aGluZ1xuKixcbio6OmFmdGVyLFxuKjo6YmVmb3JlIHtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuXG5hOmFjdGl2ZSxcbmE6Zm9jdXMsXG5hOmNoZWNrZWQsXG5hOmFueS1saW5rIHtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgY29sb3I6ICMwMDAwMDA7XG59XG5cbi5jb250YWluZXIge1xuICAgIG1pbi13aWR0aDogNzIwcHg7XG4gICAgbWF4LXdpZHRoOiAxNDAwcHg7XG4gICAgbWFyZ2luOiAwIGF1dG87XG59XG5cbi8vIGhlYWRlciBzZWN0aW9uIHN0YXJ0XG4uaGVhZGVyIHtcbiAgICBoZWlnaHQ6IDQ0OHB4O1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudCg0NWRlZywgI2ZlNmE4MiAwJSwgIzkzMjVlZiAxMDAlKTtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgY29sb3I6ICNmZmZmZmY7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuXG4vLyBmaXJzdCBsaW5lIGluIGhlYWRlclxuLmhlYWRlcjo6YmVmb3JlIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIHdpZHRoOiA0MDBweDtcbiAgICBoZWlnaHQ6IDUwcHg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vd2VjcmVhdGUtYXNzZXRzL3dlY3JlYXRlLWFzc2V0cy9pbWcvd2F2ZS10b3AyLnN2Z1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGJvdHRvbTogNTBweDtcbiAgICB6LWluZGV4OiAxO1xufVxuXG4vLyBzZWNvbmQgbGluZSBpbiBoZWFkZXJcbi5oZWFkZXI6OmFmdGVyIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIHdpZHRoOiA0NzdweDtcbiAgICBoZWlnaHQ6IDU3cHg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vd2VjcmVhdGUtYXNzZXRzL3dlY3JlYXRlLWFzc2V0cy9pbWcvd2F2ZS10b3Auc3ZnXCIpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1zaXplOiBhdXRvO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICByaWdodDogMDtcbiAgICBib3R0b206IC0zM3B4O1xuICAgIHotaW5kZXg6IDE7XG59XG5cblxuLm5hdmlnYXRpb24ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBoZWlnaHQ6IDI0cHg7XG4gICAgcGFkZGluZy10b3A6IDQ4cHg7XG59XG5cbi8vIEkgaGFkIHRvIGFkZCBcImFcIiB0YWcgdG8gZm9yY2UgbGlua3MgdG8gY2hhbmdlIGNvbG9yLlxuYS5uYXZpZ2F0aW9uX19saW5rIHtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgbWFyZ2luOiAwIDEwcHg7XG4gICAgZm9udC1zaXplOiAyNHB4O1xuICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgY29sb3I6ICM1ODI3ODI7XG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuLmhlYWRlcl9fdGl0bGUge1xuICAgIGZvbnQtc2l6ZTogMTE2cHg7XG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBtYXJnaW46IDUwcHggMCAtMzBweCAwO1xufVxuXG4uaGVhZGVyX190aXRsZTo6YWZ0ZXIge1xuICAgIGNvbnRlbnQ6IFwiLlwiO1xuICAgIGZvbnQtc2l6ZTogMS41ZW07XG4gICAgbWFyZ2luOiAwO1xufVxuXG4uaGVhZGVyX19zdWJ0aXRsZSB7XG4gICAgZm9udC1zaXplOiAyMXB4O1xuICAgIGZvbnQtZmFtaWx5OiAnUm9ib3RvJywgc2Fucy1zZXJpZjtcbn1cblxuLy8gaGVhZGVyIGVuZFxuXG4uZGVzY3JpcHRpb24ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBwYWRkaW5nOiA2MHB4IDtcblxufVxuXG4ucmlnaHQge1xuICAgIGZsZXgtZmxvdzogcm93O1xufVxuXG4ubGVmdCB7XG4gICAgZmxleC1mbG93OiByb3ctcmV2ZXJzZTtcbn1cblxuLnN1YmRlc2NyaXB0aW9uIHtcbiAgICB3aWR0aDogNDA4cHg7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0O1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuICAgIG1hcmdpbjogMCAxNTBweDtcbn1cblxuLnN1YmRlc2NyaXB0aW9uX190aXRsZSB7XG4gICAgZm9udC1zaXplOiAyN3B4O1xuICAgIGNvbG9yOiAjNWYxYjk4O1xuICAgIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG4uYmFja2dyb3VuZE51bWJlcjo6YmVmb3JlIHtcbiAgICBjb250ZW50OiBhdHRyKHRpdGxlKTtcbiAgICB3aWR0aDogMjUwcHg7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGZvbnQtc2l6ZTogMTgwcHg7XG4gICAgY29sb3I6ICNlNTc5ZDc7XG4gICAgbGVmdDogLTEwMHB4O1xuICAgIHRvcDogLTMwcHg7XG4gICAgei1pbmRleDogLTE7XG59XG5cblxuLnN1YmRlc2NyaXB0aW9uX19ub3RlIHtcbiAgICBmb250LXNpemU6IDEycHg7XG4gICAgY29sb3I6ICM0NDBjNzQ7XG4gICAgZm9udC1mYW1pbHk6IFwiUm9ib3RvXCI7XG4gICAgbGluZS1oZWlnaHQ6IDIycHg7XG59XG5cbi5zdWJkZXNjcmlwdGlvbl9fYnV0dG9uIHtcbiAgICBmb250LXNpemU6IDE1cHg7XG4gICAgY29sb3I6ICM0NDBjNzQ7XG4gICAgZm9udC1mYW1pbHk6IFwiTW9udHNlcnJhdFwiO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50O1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM0NDBjNzQ7XG4gICAgaGVpZ2h0OiAzNXB4O1xufVxuXG4uZGVzY3JpcHRpb25fX2ltYWdlIHtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgd2lkdGg6IDQwOXB4O1xuICAgIGhlaWdodDogYXV0bztcbiAgICBtYXJnaW46IDA7XG59XG5cblxuLmNyYXp5LXNlY3Rpb24ge1xuICAgIGhlaWdodDogNjAwcHg7XG4gICAgLy9pbWFnZVxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vd2VjcmVhdGUtYXNzZXRzL3dlY3JlYXRlLWFzc2V0cy9pbWcvZnVsbGJnLmpwZycpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAyMCU7XG4gICAgLy9sYXlvdXRcbiAgICBcbn1cblxuLmNyYXp5LXNlY3Rpb25fX3RpdGxlIHtcbiAgICBsaW5lLWhlaWdodDogNjAwcHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBmb250LXNpemU6IDczcHg7XG5cbn1cblxuLmZvb3RlciB7XG4gICAgaGVpZ2h0OiA1MDBweDtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudCgtNTBkZWcsICM5MzI1ZWYgMCUsICNmZjdmYzQgMTAwJSk7XG4gICAgcGFkZGluZzogMCAxODBweDtcbn1cblxuLm1hcmtldGluZyB7XG4gICAgaGVpZ2h0OiBhdXRvO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gICAgd2lkdGg6IDQ1JTtcbiAgICBwYWRkaW5nOiA0NXB4IDAgMTVweCAwO1xufVxuXG4ubWFya2V0aW5nX190aXRsZSB7XG4gICAgY29sb3I6ICM0NDBjNzQ7XG4gICAgZm9udC1mYW1pbHk6IFwiTW9udHNlcnJhdFwiO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGZvbnQtc2l6ZTogNjNweDtcbiAgICBcblxufVxuXG4ubWFya2V0aW5nX19kZXNpZ25lZEJ5IHtcbiAgICBjb2xvcjogIzU0MTg3OTtcbiAgICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCI7XG4gICAganVzdGlmeS1zZWxmOiBmbGV4LWVuZDtcbn1cblxuLmNvbnRhY3QtZm9ybSB7XG4gICAgd2lkdGg6IDQwJTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG59XG5cbi5jb250YWN0LWZvcm1fX2lucHV0IHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgbWFyZ2luOiAxNXB4IDA7XG59XG5cbi5jb250YWN0LWZvcm1fX2xhYmVsIHtcbiAgICBtYXJnaW46IDA7XG4gICAgZm9udC1zaXplOiAxMnB4O1xuICAgIGxpbmUtaGVpZ2h0OiAzM3B4O1xuICAgIGNvbG9yOiAjNDQwYzc0O1xuICAgIGZvbnQtZmFtaWx5OiBcIlJvYm90b1wiO1xufVxuXG4uY29udGFjdC1mb3JtX19hcmVhIHtcbiAgICBtYXJnaW46IDA7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyOiBub25lO1xuICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjNDMwYjczO1xufVxuXG4udGV4dGFyZWEge1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM0MzBiNzM7XG4gICAgYm9yZGVyLWJvdHRvbS13aWR0aDogMnB4O1xuICAgIGJvcmRlci1sZWZ0LXdpZHRoOiAycHg7XG59XG5cbi5jb250YWN0LWZvcm1fX2J1dHRvbiB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyOiAxcHggc29saWQgI2ZmZjtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCI7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgaGVpZ2h0OiAzNXB4O1xuICAgIGxpbmUtaGVpZ2h0OiAzNXB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB3aWR0aDogNTAlO1xufSJdfQ== */
