*,
*::after,
*::before {
  box-sizing: border-box; }

a:active,
a:focus,
a:checked,
a:-webkit-any-link {
  text-decoration: none;
  color: #000000; }

a:active,
a:focus,
a:checked,
a:any-link {
  text-decoration: none;
  color: #000000; }

.container {
  min-width: 360px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative; }

.header {
  height: 448px;
  width: 100%;
  background-image: linear-gradient(45deg, #fe6a82 0%, #9325ef 100%);
  text-align: center;
  color: #ffffff;
  position: relative;
  margin-top: -60px;
  padding-top: 100px; }

.menu-clicker {
  display: none; }

.header::before {
  content: "";
  min-width: 42%;
  height: 50px;
  background-image: url("../wecreate-assets/wecreate-assets/img/wave-top2.svg");
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 1; }

.header::after {
  content: "";
  min-width: 48%;
  height: 57px;
  background-image: url("../wecreate-assets/wecreate-assets/img/wave-top.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  right: 0;
  bottom: -33px;
  z-index: 1; }

.header__title {
  font-size: 116px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0 0 -30px 0; }

.header__title::after {
  content: ".";
  font-size: 1.5em;
  margin: 0; }

.header__subtitle {
  font-size: 21px;
  font-family: 'Roboto', sans-serif; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  background-color: transparent;
  position: relative;
  z-index: 2; }

a.navigation__link {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #582782;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%; }

.right {
  flex-flow: row; }

.left {
  flex-flow: row-reverse; }

.subdescription {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 10%; }

.subdescription__title {
  font-size: 27px;
  color: #5f1b98;
  font-family: "Montserrat";
  font-weight: bold;
  position: relative; }

.backgroundNumber::before {
  content: attr(title);
  position: absolute;
  font-size: 170px;
  color: #e579d7;
  left: -96px;
  top: -30px;
  z-index: -1; }

.subdescription__note {
  font-size: 12px;
  color: #440c74;
  font-family: "Roboto";
  line-height: 22px; }

.subdescription__button {
  font-size: 15px;
  color: #440c74;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #440c74;
  height: 35px; }

.description__image {
  display: inline-block;
  width: 65%;
  height: auto;
  margin: 0 2% 0 0; }

.crazy-section {
  height: 600px;
  background-image: url("../wecreate-assets/wecreate-assets/img/fullbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%; }

.crazy-section__title {
  line-height: 600px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  font-size: 73px; }

.footer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(-50deg, #9325ef 0%, #ff7fc4 100%);
  padding: 0 180px; }

.marketing {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  padding: 45px 0 15px 0; }

.marketing__title {
  color: #440c74;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 63px; }

.marketing__designedBy {
  color: #541879;
  font-family: "Montserrat";
  justify-self: flex-end; }

.contact-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contact-form__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0; }

.contact-form__label {
  margin: 0;
  font-size: 12px;
  line-height: 33px;
  color: #440c74;
  font-family: "Roboto"; }

.contact-form__area {
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #430b73; }

.textarea {
  border: 1px solid #430b73;
  border-bottom-width: 2px;
  border-left-width: 2px; }

.contact-form__button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 50%; }

@media (max-width: 800px) {
  .footer {
    min-height: 900px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 100px 20px 100px;
    position: relative; }
  .marketing {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 45px 0 15px 0;
    position: relative; }
  .contact-form {
    width: 100%; } }

@media (max-width: 760px) {
  .header {
    height: 400px;
    position: relative;
    margin-top: -650px; }
  .header__title {
    font-size: 90px; }
  .header::after {
    height: 40px;
    bottom: -20px; }
  .header::before {
    height: 35px;
    bottom: 30px; }
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    left: -1500px;
    z-index: 3;
    height: 100vh; }
  .menu-clicker {
    margin: 0;
    display: block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: #fe6a82;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }
  .animation-showUp {
    animation-name: showUp;
    animation-duration: 200ms;
    left: 150px; }
  .animation-showDown {
    animation-name: showDown;
    animation-duration: 200ms;
    left: -1500px; }
  .description__image {
    display: none; } }

@keyframes showUp {
  from {
    left: -1500px; }
  to {
    left: 150px; } }

@keyframes hide {
  from {
    left: 150px; }
  to {
    left: -1500px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0E7OztFQUdJLHVCQUFzQixFQUN6Qjs7QUFFRDs7OztFQUlJLHNCQUFxQjtFQUNyQixlQUFjLEVBQ2pCOztBQU5EOzs7O0VBSUksc0JBQXFCO0VBQ3JCLGVBQWMsRUFDakI7O0FBRUQ7RUFDSSxpQkFBZ0I7RUFDaEIsa0JBQWlCO0VBQ2pCLGVBQWM7RUFDZCxtQkFBa0IsRUFDckI7O0FBR0Q7RUFDSSxjQUFhO0VBQ2IsWUFBVztFQUNYLG1FQUFrRTtFQUNsRSxtQkFBa0I7RUFDbEIsZUFBYztFQUNkLG1CQUFrQjtFQUNsQixrQkFBZ0I7RUFDaEIsbUJBQWtCLEVBQ3JCOztBQUVEO0VBQ0ksY0FBYSxFQUNoQjs7QUFHRDtFQUNJLFlBQVc7RUFDWCxlQUFjO0VBQ2QsYUFBWTtFQUNaLDhFQUE2RTtFQUM3RSx5QkFBd0I7RUFDeEIsbUJBQWtCO0VBQ2xCLFNBQVE7RUFDUixhQUFZO0VBQ1osV0FBVSxFQUNiOztBQUdEO0VBQ0ksWUFBVztFQUNYLGVBQWM7RUFDZCxhQUFZO0VBQ1osNkVBQTRFO0VBQzVFLDZCQUE0QjtFQUM1QixzQkFBcUI7RUFDckIsbUJBQWtCO0VBQ2xCLFNBQVE7RUFDUixjQUFhO0VBQ2IsV0FBVSxFQUNiOztBQUVEO0VBQ0ksaUJBQWdCO0VBQ2hCLHNDQUFxQztFQUNyQyxrQkFBaUI7RUFDakIsb0JBQW1CLEVBQ3RCOztBQUVEO0VBQ0ksYUFBWTtFQUNaLGlCQUFnQjtFQUNoQixVQUFTLEVBQ1o7O0FBRUQ7RUFDSSxnQkFBZTtFQUNmLGtDQUFpQyxFQUNwQzs7QUFHRDtFQUNJLGNBQWE7RUFDYix3QkFBdUI7RUFDdkIsc0JBQXFCO0VBQ3JCLGFBQVk7RUFDWiw4QkFBOEI7RUFDOUIsbUJBQWtCO0VBQ2xCLFdBQVUsRUFFYjs7QUFHRDtFQUNJLHNCQUFxQjtFQUNyQixlQUFjO0VBQ2QsZ0JBQWU7RUFDZiwwQkFBeUI7RUFDekIsZUFBYztFQUNkLHNDQUFxQztFQUNyQyxrQkFBaUIsRUFDcEI7O0FBS0Q7RUFDSSxjQUFhO0VBQ2Isb0JBQW1CO0VBQ25CLHdCQUF1QjtFQUN2QixZQUFZLEVBRWY7O0FBRUQ7RUFDSSxlQUFjLEVBQ2pCOztBQUVEO0VBQ0ksdUJBQXNCLEVBQ3pCOztBQUVEO0VBQ0ksV0FBVTtFQUNWLGNBQWE7RUFDYix1QkFBc0I7RUFDdEIsd0JBQXVCO0VBQ3ZCLDhCQUE2QjtFQUM3QixjQUFhLEVBQ2hCOztBQUVEO0VBQ0ksZ0JBQWU7RUFDZixlQUFjO0VBQ2QsMEJBQXlCO0VBQ3pCLGtCQUFpQjtFQUNqQixtQkFBa0IsRUFDckI7O0FBQ0Q7RUFDSSxxQkFBb0I7RUFFcEIsbUJBQWtCO0VBQ2xCLGlCQUFnQjtFQUNoQixlQUFjO0VBQ2QsWUFBVztFQUNYLFdBQVU7RUFDVixZQUFXLEVBQ2Q7O0FBR0Q7RUFDSSxnQkFBZTtFQUNmLGVBQWM7RUFDZCxzQkFBcUI7RUFDckIsa0JBQWlCLEVBQ3BCOztBQUVEO0VBQ0ksZ0JBQWU7RUFDZixlQUFjO0VBQ2QsMEJBQXlCO0VBQ3pCLGtCQUFpQjtFQUNqQiw4QkFBNkI7RUFDN0IsMEJBQXlCO0VBQ3pCLGFBQVksRUFDZjs7QUFFRDtFQUNJLHNCQUFxQjtFQUNyQixXQUFVO0VBQ1YsYUFBWTtFQUNaLGlCQUFnQixFQUNuQjs7QUFHRDtFQUNJLGNBQWE7RUFFYiwyRUFBMEU7RUFDMUUsNkJBQTRCO0VBQzVCLHVCQUFzQjtFQUN0Qix5QkFBd0IsRUFHM0I7O0FBRUQ7RUFDSSxtQkFBa0I7RUFDbEIsbUJBQWtCO0VBQ2xCLDBCQUF5QjtFQUN6QixrQkFBaUI7RUFDakIsWUFBVztFQUNYLGdCQUFlLEVBRWxCOztBQUVEO0VBQ0ksWUFBVztFQUNYLGNBQWE7RUFDYixjQUFhO0VBQ2IsOEJBQTZCO0VBQzdCLG9FQUFtRTtFQUNuRSxpQkFBZ0IsRUFDbkI7O0FBRUQ7RUFDSSxhQUFZO0VBQ1osY0FBYTtFQUNiLHVCQUFzQjtFQUN0QiwrQkFBOEI7RUFDOUIsV0FBVTtFQUNWLHVCQUFzQixFQUN6Qjs7QUFFRDtFQUNJLGVBQWM7RUFDZCwwQkFBeUI7RUFDekIsa0JBQWlCO0VBQ2pCLGdCQUFlLEVBR2xCOztBQUVEO0VBQ0ksZUFBYztFQUNkLDBCQUF5QjtFQUN6Qix1QkFBc0IsRUFDekI7O0FBRUQ7RUFDSSxXQUFVO0VBQ1YsY0FBYTtFQUNiLHVCQUFzQjtFQUN0Qix3QkFBdUIsRUFDMUI7O0FBRUQ7RUFDSSxjQUFhO0VBQ2IsdUJBQXNCO0VBQ3RCLHdCQUF1QjtFQUN2QixlQUFjLEVBQ2pCOztBQUVEO0VBQ0ksVUFBUztFQUNULGdCQUFlO0VBQ2Ysa0JBQWlCO0VBQ2pCLGVBQWM7RUFDZCxzQkFBcUIsRUFDeEI7O0FBRUQ7RUFDSSxVQUFTO0VBQ1QsOEJBQTZCO0VBQzdCLGFBQVk7RUFDWixpQ0FBZ0MsRUFDbkM7O0FBRUQ7RUFDSSwwQkFBeUI7RUFDekIseUJBQXdCO0VBQ3hCLHVCQUFzQixFQUN6Qjs7QUFFRDtFQUNJLDhCQUE2QjtFQUM3Qix1QkFBc0I7RUFDdEIsWUFBVztFQUNYLDBCQUF5QjtFQUN6QixrQkFBaUI7RUFDakIsYUFBWTtFQUNaLGtCQUFpQjtFQUNqQixtQkFBa0I7RUFDbEIsV0FBVSxFQUNiOztBQUVEO0VBR0k7SUFDSSxrQkFBaUI7SUFDakIsdUJBQXNCO0lBQ3RCLDhCQUE2QjtJQUM3Qiw0QkFBMkI7SUFDM0IsbUJBQWtCLEVBQ3JCO0VBRUQ7SUFDSSxhQUFZO0lBQ1osY0FBYTtJQUNiLHVCQUFzQjtJQUN0QiwrQkFBOEI7SUFDOUIsWUFBVztJQUNYLHVCQUFzQjtJQUN0QixtQkFBa0IsRUFDckI7RUFFRDtJQUNJLFlBQVcsRUFDZCxFQUFBOztBQU1MO0VBRUk7SUFDSSxjQUFhO0lBQ2IsbUJBQWtCO0lBQ2xCLG1CQUFrQixFQUNyQjtFQUVEO0lBQ0ksZ0JBQWUsRUFFbEI7RUFFRDtJQUNJLGFBQVk7SUFDWixjQUFhLEVBQ2hCO0VBQ0Q7SUFDSSxhQUFZO0lBQ1osYUFBWSxFQUNmO0VBRUQ7SUFDSSx1QkFBc0I7SUFDdEIsd0JBQXVCO0lBQ3ZCLDRCQUEyQjtJQUMzQixtQkFBa0I7SUFDbEIsY0FBYTtJQUNiLFdBQVU7SUFDVixjQUFhLEVBR2hCO0VBQ0Q7SUFDSSxVQUFTO0lBQ1QsZUFBYztJQUNkLGtCQUFpQjtJQUNqQixZQUFXO0lBQ1gsYUFBWTtJQUNaLDBCQUF5QjtJQUN6QixtQkFBa0I7SUFDbEIsT0FBTTtJQUNOLFFBQU87SUFDUCxXQUFVLEVBQ2I7RUFHRDtJQUNJLHVCQUFzQjtJQUN0QiwwQkFBeUI7SUFDekIsWUFBVyxFQUNkO0VBRUQ7SUFDSSx5QkFBd0I7SUFDeEIsMEJBQXlCO0lBQ3pCLGNBQVksRUFDZjtFQUlEO0lBQ0ksY0FBYSxFQUNoQixFQUFBOztBQUlMO0VBQ0k7SUFDSSxjQUFhLEVBQUE7RUFFakI7SUFDSSxZQUFXLEVBQUEsRUFBQTs7QUFJbkI7RUFDSTtJQUNJLFlBRUosRUFBQTtFQUNBO0lBQ0ksY0FBWSxFQUFBLEVBQUEiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLy8gYm94LXNpemluZyBldmVyeXRoaW5nXG4qLFxuKjo6YWZ0ZXIsXG4qOjpiZWZvcmUge1xuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbmE6YWN0aXZlLFxuYTpmb2N1cyxcbmE6Y2hlY2tlZCxcbmE6YW55LWxpbmsge1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBjb2xvcjogIzAwMDAwMDtcbn1cblxuLmNvbnRhaW5lciB7XG4gICAgbWluLXdpZHRoOiAzNjBweDtcbiAgICBtYXgtd2lkdGg6IDE0MDBweDtcbiAgICBtYXJnaW46IDAgYXV0bztcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cbi8vIGhlYWRlciBzZWN0aW9uIHN0YXJ0XG4uaGVhZGVyIHtcbiAgICBoZWlnaHQ6IDQ0OHB4O1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudCg0NWRlZywgI2ZlNmE4MiAwJSwgIzkzMjVlZiAxMDAlKTtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgY29sb3I6ICNmZmZmZmY7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIG1hcmdpbi10b3A6LTYwcHg7XG4gICAgcGFkZGluZy10b3A6IDEwMHB4OyBcbn1cblxuLm1lbnUtY2xpY2tlciB7XG4gICAgZGlzcGxheTogbm9uZTtcbn1cblxuLy8gZmlyc3QgbGluZSBpbiBoZWFkZXJcbi5oZWFkZXI6OmJlZm9yZSB7XG4gICAgY29udGVudDogXCJcIjtcbiAgICBtaW4td2lkdGg6IDQyJTtcbiAgICBoZWlnaHQ6IDUwcHg7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vd2VjcmVhdGUtYXNzZXRzL3dlY3JlYXRlLWFzc2V0cy9pbWcvd2F2ZS10b3AyLnN2Z1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvbnRhaW47XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGJvdHRvbTogNTBweDtcbiAgICB6LWluZGV4OiAxO1xufVxuXG4vLyBzZWNvbmQgbGluZSBpbiBoZWFkZXJcbi5oZWFkZXI6OmFmdGVyIHtcbiAgICBjb250ZW50OiBcIlwiO1xuICAgIG1pbi13aWR0aDogNDglO1xuICAgIGhlaWdodDogNTdweDtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi93ZWNyZWF0ZS1hc3NldHMvd2VjcmVhdGUtYXNzZXRzL2ltZy93YXZlLXRvcC5zdmdcIik7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGF1dG87XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHJpZ2h0OiAwO1xuICAgIGJvdHRvbTogLTMzcHg7XG4gICAgei1pbmRleDogMTtcbn1cblxuLmhlYWRlcl9fdGl0bGUge1xuICAgIGZvbnQtc2l6ZTogMTE2cHg7XG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBtYXJnaW46IDAgMCAtMzBweCAwO1xufVxuXG4uaGVhZGVyX190aXRsZTo6YWZ0ZXIge1xuICAgIGNvbnRlbnQ6IFwiLlwiO1xuICAgIGZvbnQtc2l6ZTogMS41ZW07XG4gICAgbWFyZ2luOiAwO1xufVxuXG4uaGVhZGVyX19zdWJ0aXRsZSB7XG4gICAgZm9udC1zaXplOiAyMXB4O1xuICAgIGZvbnQtZmFtaWx5OiAnUm9ib3RvJywgc2Fucy1zZXJpZjtcbn1cblxuXG4ubmF2aWdhdGlvbiB7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBhbGlnbi1pdGVtczogZmxleC1lbmQ7XG4gICAgaGVpZ2h0OiA2MHB4O1xuICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50IDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgei1pbmRleDogMjtcblxufVxuXG4vLyBJIGhhZCB0byBhZGQgXCJhXCIgdGFnIHRvIGZvcmNlIGxpbmtzIHRvIGNoYW5nZSBjb2xvci5cbmEubmF2aWdhdGlvbl9fbGluayB7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIG1hcmdpbjogMCAxMHB4O1xuICAgIGZvbnQtc2l6ZTogMjRweDtcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICAgIGNvbG9yOiAjNTgyNzgyO1xuICAgIGZvbnQtZmFtaWx5OiAnTW9udHNlcnJhdCcsIHNhbnMtc2VyaWY7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG59XG5cblxuLy8gaGVhZGVyIGVuZFxuXG4uZGVzY3JpcHRpb24ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBwYWRkaW5nOiA1JSA7XG5cbn1cblxuLnJpZ2h0IHtcbiAgICBmbGV4LWZsb3c6IHJvdztcbn1cblxuLmxlZnQge1xuICAgIGZsZXgtZmxvdzogcm93LXJldmVyc2U7XG59XG5cbi5zdWJkZXNjcmlwdGlvbiB7XG4gICAgd2lkdGg6IDYwJTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgYWxpZ24taXRlbXM6IGZsZXgtc3RhcnQ7XG4gICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XG4gICAgbWFyZ2luOiAwIDEwJTtcbn1cblxuLnN1YmRlc2NyaXB0aW9uX190aXRsZSB7XG4gICAgZm9udC1zaXplOiAyN3B4O1xuICAgIGNvbG9yOiAjNWYxYjk4O1xuICAgIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG4uYmFja2dyb3VuZE51bWJlcjo6YmVmb3JlIHtcbiAgICBjb250ZW50OiBhdHRyKHRpdGxlKTtcbiAgICBcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgZm9udC1zaXplOiAxNzBweDtcbiAgICBjb2xvcjogI2U1NzlkNztcbiAgICBsZWZ0OiAtOTZweDtcbiAgICB0b3A6IC0zMHB4O1xuICAgIHotaW5kZXg6IC0xO1xufVxuXG5cbi5zdWJkZXNjcmlwdGlvbl9fbm90ZSB7XG4gICAgZm9udC1zaXplOiAxMnB4O1xuICAgIGNvbG9yOiAjNDQwYzc0O1xuICAgIGZvbnQtZmFtaWx5OiBcIlJvYm90b1wiO1xuICAgIGxpbmUtaGVpZ2h0OiAyMnB4O1xufVxuXG4uc3ViZGVzY3JpcHRpb25fX2J1dHRvbiB7XG4gICAgZm9udC1zaXplOiAxNXB4O1xuICAgIGNvbG9yOiAjNDQwYzc0O1xuICAgIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB0cmFuc3BhcmVudDtcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjNDQwYzc0O1xuICAgIGhlaWdodDogMzVweDtcbn1cblxuLmRlc2NyaXB0aW9uX19pbWFnZSB7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIHdpZHRoOiA2NSU7XG4gICAgaGVpZ2h0OiBhdXRvO1xuICAgIG1hcmdpbjogMCAyJSAwIDA7XG59XG5cblxuLmNyYXp5LXNlY3Rpb24ge1xuICAgIGhlaWdodDogNjAwcHg7XG4gICAgLy9pbWFnZVxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vd2VjcmVhdGUtYXNzZXRzL3dlY3JlYXRlLWFzc2V0cy9pbWcvZnVsbGJnLmpwZycpO1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAyMCU7XG4gICAgLy9sYXlvdXRcbiAgICBcbn1cblxuLmNyYXp5LXNlY3Rpb25fX3RpdGxlIHtcbiAgICBsaW5lLWhlaWdodDogNjAwcHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIjtcbiAgICBmb250LXdlaWdodDogYm9sZDtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBmb250LXNpemU6IDczcHg7XG5cbn1cblxuLmZvb3RlciB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiA1MDBweDtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudCgtNTBkZWcsICM5MzI1ZWYgMCUsICNmZjdmYzQgMTAwJSk7XG4gICAgcGFkZGluZzogMCAxODBweDtcbn1cblxuLm1hcmtldGluZyB7XG4gICAgaGVpZ2h0OiBhdXRvO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gICAgd2lkdGg6IDQ1JTtcbiAgICBwYWRkaW5nOiA0NXB4IDAgMTVweCAwO1xufVxuXG4ubWFya2V0aW5nX190aXRsZSB7XG4gICAgY29sb3I6ICM0NDBjNzQ7XG4gICAgZm9udC1mYW1pbHk6IFwiTW9udHNlcnJhdFwiO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGZvbnQtc2l6ZTogNjNweDtcbiAgICBcblxufVxuXG4ubWFya2V0aW5nX19kZXNpZ25lZEJ5IHtcbiAgICBjb2xvcjogIzU0MTg3OTtcbiAgICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCI7XG4gICAganVzdGlmeS1zZWxmOiBmbGV4LWVuZDtcbn1cblxuLmNvbnRhY3QtZm9ybSB7XG4gICAgd2lkdGg6IDQwJTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG59XG5cbi5jb250YWN0LWZvcm1fX2lucHV0IHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgbWFyZ2luOiAxNXB4IDA7XG59XG5cbi5jb250YWN0LWZvcm1fX2xhYmVsIHtcbiAgICBtYXJnaW46IDA7XG4gICAgZm9udC1zaXplOiAxMnB4O1xuICAgIGxpbmUtaGVpZ2h0OiAzM3B4O1xuICAgIGNvbG9yOiAjNDQwYzc0O1xuICAgIGZvbnQtZmFtaWx5OiBcIlJvYm90b1wiO1xufVxuXG4uY29udGFjdC1mb3JtX19hcmVhIHtcbiAgICBtYXJnaW46IDA7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyOiBub25lO1xuICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjNDMwYjczO1xufVxuXG4udGV4dGFyZWEge1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM0MzBiNzM7XG4gICAgYm9yZGVyLWJvdHRvbS13aWR0aDogMnB4O1xuICAgIGJvcmRlci1sZWZ0LXdpZHRoOiAycHg7XG59XG5cbi5jb250YWN0LWZvcm1fX2J1dHRvbiB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gICAgYm9yZGVyOiAxcHggc29saWQgI2ZmZjtcbiAgICBjb2xvcjogI2ZmZjtcbiAgICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCI7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgaGVpZ2h0OiAzNXB4O1xuICAgIGxpbmUtaGVpZ2h0OiAzNXB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB3aWR0aDogNTAlO1xufVxuXG5AbWVkaWEgKG1heC13aWR0aDogODAwcHgpIHtcbiAgICAuY29udGFpbmVyIHt9XG5cbiAgICAuZm9vdGVyIHtcbiAgICAgICAgbWluLWhlaWdodDogOTAwcHg7XG4gICAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuICAgICAgICBwYWRkaW5nOiAwIDEwMHB4IDIwcHggMTAwcHg7ICBcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlOyAgXG4gICAgfVxuXG4gICAgLm1hcmtldGluZyB7XG4gICAgICAgIGhlaWdodDogYXV0bztcbiAgICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgICAgICB3aWR0aDogMTAwJTtcbiAgICAgICAgcGFkZGluZzogNDVweCAwIDE1cHggMDtcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIH1cblxuICAgIC5jb250YWN0LWZvcm0ge1xuICAgICAgICB3aWR0aDogMTAwJTtcbiAgICB9XG5cbiAgICAubWFya2V0aW5nX190aXRsZSB7fVxuXG59XG4gIFxuQG1lZGlhIChtYXgtd2lkdGg6IDc2MHB4KSB7XG4gICAgXG4gICAgLmhlYWRlciB7XG4gICAgICAgIGhlaWdodDogNDAwcHg7XG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICAgICAgbWFyZ2luLXRvcDogLTY1MHB4O1xuICAgIH1cblxuICAgIC5oZWFkZXJfX3RpdGxlIHtcbiAgICAgICAgZm9udC1zaXplOiA5MHB4O1xuICAgICAgICBcbiAgICB9XG5cbiAgICAuaGVhZGVyOjphZnRlciB7XG4gICAgICAgIGhlaWdodDogNDBweDtcbiAgICAgICAgYm90dG9tOiAtMjBweDtcbiAgICB9XG4gICAgLmhlYWRlcjo6YmVmb3JlIHtcbiAgICAgICAgaGVpZ2h0OiAzNXB4O1xuICAgICAgICBib3R0b206IDMwcHg7XG4gICAgfVxuXG4gICAgLm5hdmlnYXRpb24ge1xuICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgICAgICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBmbGV4LXN0YXJ0O1xuICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgICAgIGxlZnQ6IC0xNTAwcHg7ICAgIFxuICAgICAgICB6LWluZGV4OiAzO1xuICAgICAgICBoZWlnaHQ6IDEwMHZoO1xuXG4gICAgICAgIFxuICAgIH1cbiAgICAubWVudS1jbGlja2VyIHtcbiAgICAgICAgbWFyZ2luOiAwO1xuICAgICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgICAgbGluZS1oZWlnaHQ6IDUwcHg7XG4gICAgICAgIHdpZHRoOiA1MHB4O1xuICAgICAgICBoZWlnaHQ6IDUwcHg7XG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNmZTZhODI7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgdG9wOiAwO1xuICAgICAgICBsZWZ0OiAwO1xuICAgICAgICB6LWluZGV4OiAzO1xuICAgIH1cbiAgICBcblxuICAgIC5hbmltYXRpb24tc2hvd1VwIHtcbiAgICAgICAgYW5pbWF0aW9uLW5hbWU6IHNob3dVcDtcbiAgICAgICAgYW5pbWF0aW9uLWR1cmF0aW9uOiAyMDBtcztcbiAgICAgICAgbGVmdDogMTUwcHg7XG4gICAgfVxuXG4gICAgLmFuaW1hdGlvbi1zaG93RG93biB7XG4gICAgICAgIGFuaW1hdGlvbi1uYW1lOiBzaG93RG93bjtcbiAgICAgICAgYW5pbWF0aW9uLWR1cmF0aW9uOiAyMDBtcztcbiAgICAgICAgbGVmdDotMTUwMHB4O1xuICAgIH1cblxuXG5cbiAgICAuZGVzY3JpcHRpb25fX2ltYWdlIHtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG5cbn1cblxuQGtleWZyYW1lcyBzaG93VXAge1xuICAgIGZyb20ge1xuICAgICAgICBsZWZ0OiAtMTUwMHB4OyAgICBcbiAgICB9XG4gICAgdG8ge1xuICAgICAgICBsZWZ0OiAxNTBweDtcbiAgICB9XG59XG5cbkBrZXlmcmFtZXMgaGlkZSB7XG4gICAgZnJvbSB7XG4gICAgICAgIGxlZnQ6MTUwcHhcblxuICAgIH1cbiAgICB0byB7XG4gICAgICAgIGxlZnQ6LTE1MDBweDtcbiAgICB9XG59Il19 */
