*, *::after, *::before {
  box-sizing: border-box; }

a:active, a:focus, a:checked, a:-webkit-any-link {
  text-decoration: none;
  color: #000000; }

a:active, a:focus, a:checked, a:any-link {
  text-decoration: none;
  color: #000000; }

.container {
  min-width: 720px;
  max-width: 1400px;
  margin: 0 auto; }

.header {
  height: 448px;
  width: 100%;
  background-image: linear-gradient(45deg, #fe6a82 0%, #9325ef 100%);
  text-align: center;
  color: #ffffff;
  position: relative; }

.header::before {
  content: "";
  width: 400px;
  height: 50px;
  background-image: url("../wecreate-assets/wecreate-assets/img/wave-top2.svg");
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 1; }

.header::after {
  content: "";
  width: 477px;
  height: 57px;
  background-image: url("../wecreate-assets/wecreate-assets/img/wave-top.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  right: 0;
  bottom: -33px;
  z-index: 1; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding-top: 48px; }

a.navigation__link {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #582782;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.header__title {
  font-size: 116px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 50px 0 -30px 0; }

.header__title::after {
  content: ".";
  font-size: 1.5em;
  margin: 0; }

.header__subtitle {
  font-size: 21px;
  font-family: 'Roboto', sans-serif; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0E7RUFDSSx1QkFBc0IsRUFDekI7O0FBRUQ7RUFDSSxzQkFBcUI7RUFDckIsZUFBYSxFQUNoQjs7QUFIRDtFQUNJLHNCQUFxQjtFQUNyQixlQUFhLEVBQ2hCOztBQUVEO0VBQ0ksaUJBQWdCO0VBQ2hCLGtCQUFpQjtFQUNqQixlQUFjLEVBQ2pCOztBQUVEO0VBQ0ksY0FBYTtFQUNiLFlBQVc7RUFDWCxtRUFBa0U7RUFDbEUsbUJBQWtCO0VBQ2xCLGVBQWM7RUFDZCxtQkFBa0IsRUFDckI7O0FBRUQ7RUFDSSxZQUFXO0VBQ1gsYUFBWTtFQUNaLGFBQVk7RUFDWiw4RUFBNkU7RUFDN0UseUJBQXdCO0VBQ3hCLG1CQUFrQjtFQUNsQixTQUFPO0VBQ1AsYUFBWTtFQUNaLFdBQVUsRUFDYjs7QUFFRDtFQUNJLFlBQVc7RUFDWCxhQUFZO0VBQ1osYUFBWTtFQUNaLDZFQUE0RTtFQUM1RSw2QkFBNEI7RUFDNUIsc0JBQXFCO0VBQ3JCLG1CQUFrQjtFQUNsQixTQUFPO0VBQ1AsY0FBYTtFQUNiLFdBQVUsRUFDYjs7QUFHRDtFQUNJLGNBQWE7RUFDYix3QkFBdUI7RUFDdkIsb0JBQW1CO0VBQ25CLGFBQVk7RUFDWixrQkFBaUIsRUFDcEI7O0FBR0Q7RUFDSSxzQkFBcUI7RUFDckIsZUFBYTtFQUNiLGdCQUFlO0VBQ2YsMEJBQXlCO0VBQ3pCLGVBQWM7RUFDZCxzQ0FBcUM7RUFDckMsa0JBQWlCLEVBQ3BCOztBQUVEO0VBQ0ksaUJBQWdCO0VBQ2hCLHNDQUFxQztFQUNyQyxrQkFBaUI7RUFDakIsdUJBQXNCLEVBQ3pCOztBQUVEO0VBQ0ksYUFBWTtFQUNaLGlCQUFnQjtFQUNoQixVQUFTLEVBQ1o7O0FBRUQ7RUFDSSxnQkFBZTtFQUNmLGtDQUFpQyxFQUNwQyIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvLyBib3gtc2l6aW5nIGV2ZXJ5dGhpbmdcbiosICo6OmFmdGVyLCAqOjpiZWZvcmUge1xuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbmE6YWN0aXZlLCBhOmZvY3VzLCBhOmNoZWNrZWQsIGE6YW55LWxpbmsge1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBjb2xvcjojMDAwMDAwO1xufVxuXG4uY29udGFpbmVyIHtcbiAgICBtaW4td2lkdGg6IDcyMHB4O1xuICAgIG1heC13aWR0aDogMTQwMHB4O1xuICAgIG1hcmdpbjogMCBhdXRvO1xufVxuLy8gaGVhZGVyIHNlY3Rpb24gc3RhcnRcbi5oZWFkZXIge1xuICAgIGhlaWdodDogNDQ4cHg7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogbGluZWFyLWdyYWRpZW50KDQ1ZGVnLCAjZmU2YTgyIDAlLCAjOTMyNWVmIDEwMCUpO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBjb2xvcjogI2ZmZmZmZjtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cbi5oZWFkZXI6OmJlZm9yZSB7XG4gICAgY29udGVudDogXCJcIjtcbiAgICB3aWR0aDogNDAwcHg7XG4gICAgaGVpZ2h0OiA1MHB4O1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL3dlY3JlYXRlLWFzc2V0cy93ZWNyZWF0ZS1hc3NldHMvaW1nL3dhdmUtdG9wMi5zdmdcIik7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICByaWdodDowO1xuICAgIGJvdHRvbTogNTBweDtcbiAgICB6LWluZGV4OiAxO1xufVxuXG4uaGVhZGVyOjphZnRlciB7XG4gICAgY29udGVudDogXCJcIjtcbiAgICB3aWR0aDogNDc3cHg7XG4gICAgaGVpZ2h0OiA1N3B4O1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL3dlY3JlYXRlLWFzc2V0cy93ZWNyZWF0ZS1hc3NldHMvaW1nL3dhdmUtdG9wLnN2Z1wiKTtcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgIGJhY2tncm91bmQtc2l6ZTogYXV0bztcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgcmlnaHQ6MDtcbiAgICBib3R0b206IC0zM3B4O1xuICAgIHotaW5kZXg6IDE7XG59XG5cblxuLm5hdmlnYXRpb24ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBoZWlnaHQ6IDI0cHg7XG4gICAgcGFkZGluZy10b3A6IDQ4cHg7XG59XG5cbi8vIEkgaGFkIHRvIGFkZCBcImFcIiB0YWcgdG8gZm9yY2UgbGlua3MgdG8gY2hhbmdlIGNvbG9yLlxuYS5uYXZpZ2F0aW9uX19saW5rIHtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgbWFyZ2luOjAgMTBweDtcbiAgICBmb250LXNpemU6IDI0cHg7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBjb2xvcjogIzU4Mjc4MjtcbiAgICBmb250LWZhbWlseTogJ01vbnRzZXJyYXQnLCBzYW5zLXNlcmlmO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xufSAgIFxuXG4uaGVhZGVyX190aXRsZSB7XG4gICAgZm9udC1zaXplOiAxMTZweDtcbiAgICBmb250LWZhbWlseTogJ01vbnRzZXJyYXQnLCBzYW5zLXNlcmlmO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIG1hcmdpbjogNTBweCAwIC0zMHB4IDA7XG59XG5cbi5oZWFkZXJfX3RpdGxlOjphZnRlciB7XG4gICAgY29udGVudDogXCIuXCI7XG4gICAgZm9udC1zaXplOiAxLjVlbTtcbiAgICBtYXJnaW46IDA7XG59XG5cbi5oZWFkZXJfX3N1YnRpdGxlIHtcbiAgICBmb250LXNpemU6IDIxcHg7XG4gICAgZm9udC1mYW1pbHk6ICdSb2JvdG8nLCBzYW5zLXNlcmlmO1xufVxuXG4vLyBoZWFkZXIgZW5kXG5cbi8vIHBvcnRmb2xpbyBzdGFydFxuLnBvcnRmb2xpbyB7fVxuLnBvcnRmb2xpb19fZGVzY3JpcHRpb24ge31cbi5kZXNjcmlwdGlvbl9fdGl0bGUge31cbi5kZXNjcmlwdGlvbl9fbm90ZSB7fVxuLnBvcnRmb2xpb19faW1hZ2Uge31cbi8vIHBvcnRmb2xpbyBlbmQiXX0= */
