// box-sizing everything
*, *::after, *::before {
    box-sizing: border-box;
}

a:active, a:focus, a:checked, a:any-link {
    text-decoration: none;
    color:#000000;
}

.container {
    min-width: 720px;
    max-width: 1400px;
    margin: 0 auto;
}
// header section start
.header {
    height: 448px;
    width: 100%;
    background-image: linear-gradient(45deg, #fe6a82 0%, #9325ef 100%);
    text-align: center;
    color: #ffffff;
    position: relative;
}

.header::before {
    content: "";
    width: 400px;
    height: 50px;
    background-image: url("../wecreate-assets/wecreate-assets/img/wave-top2.svg");
    background-size: contain;
    position: absolute;
    right:0;
    bottom: 50px;
    z-index: 1;
}

.header::after {
    content: "";
    width: 477px;
    height: 57px;
    background-image: url("../wecreate-assets/wecreate-assets/img/wave-top.svg");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    right:0;
    bottom: -33px;
    z-index: 1;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding-top: 48px;
}

// I had to add "a" tag to force links to change color.
a.navigation__link {
    display: inline-block;
    margin:0 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: #582782;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}   

.header__title {
    font-size: 116px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 50px 0 -30px 0;
}

.header__title::after {
    content: ".";
    font-size: 1.5em;
    margin: 0;
}

.header__subtitle {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

// header end

// portfolio start
.portfolio {}
.portfolio__description {}
.description__title {}
.description__note {}
.portfolio__image {}
// portfolio end