// box-sizing everything
*,
*::after,
*::before {
    box-sizing: border-box;
}

a:active,
a:focus,
a:checked,
a:any-link {
    text-decoration: none;
    color: #000000;
}

.container {
    min-width: 720px;
    max-width: 1400px;
    margin: 0 auto;
}

// header section start
.header {
    height: 448px;
    width: 100%;
    background-image: linear-gradient(45deg, #fe6a82 0%, #9325ef 100%);
    text-align: center;
    color: #ffffff;
    position: relative;
}

// first line in header
.header::before {
    content: "";
    width: 400px;
    height: 50px;
    background-image: url("../wecreate-assets/wecreate-assets/img/wave-top2.svg");
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 1;
}

// second line in header
.header::after {
    content: "";
    width: 477px;
    height: 57px;
    background-image: url("../wecreate-assets/wecreate-assets/img/wave-top.svg");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    right: 0;
    bottom: -33px;
    z-index: 1;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding-top: 48px;
}

// I had to add "a" tag to force links to change color.
a.navigation__link {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: #582782;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header__title {
    font-size: 116px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 50px 0 -30px 0;
}

.header__title::after {
    content: ".";
    font-size: 1.5em;
    margin: 0;
}

.header__subtitle {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

// header end

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px ;

}

.right {
    flex-flow: row;
}

.left {
    flex-flow: row-reverse;
}

.subdescription {
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 150px;
}

.subdescription__title {
    font-size: 27px;
    color: #5f1b98;
    font-family: "Montserrat";
    font-weight: bold;
    position: relative;
}
.backgroundNumber::before {
    content: attr(title);
    width: 250px;
    position: absolute;
    font-size: 180px;
    color: #e579d7;
    left: -100px;
    top: -30px;
    z-index: -1;
}


.subdescription__note {
    font-size: 12px;
    color: #440c74;
    font-family: "Roboto";
    line-height: 22px;
}

.subdescription__button {
    font-size: 15px;
    color: #440c74;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #440c74;
    height: 35px;
}

.description__image {
    display: inline-block;
    width: 409px;
    height: auto;
    margin: 0;
}


.crazy-section {
    height: 600px;
    //image
    background-image: url('../wecreate-assets/wecreate-assets/img/fullbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    //layout
    
}

.crazy-section__title {
    line-height: 600px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    font-size: 73px;

}

.footer {
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(-50deg, #9325ef 0%, #ff7fc4 100%);
    padding: 0 180px;
}

.marketing {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 45px 0 15px 0;
}

.marketing__title {
    color: #440c74;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 63px;
    

}

.marketing__designedBy {
    color: #541879;
    font-family: "Montserrat";
    justify-self: flex-end;
}

.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
}

.contact-form__label {
    margin: 0;
    font-size: 12px;
    line-height: 33px;
    color: #440c74;
    font-family: "Roboto";
}

.contact-form__area {
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #430b73;
}

.textarea {
    border: 1px solid #430b73;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.contact-form__button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 50%;
}