
*,
*::after,
*::before {
    box-sizing: border-box;
}

a:active,
a:focus,
a:checked,
a:any-link {
    text-decoration: none;
    color: #000000;
}

.container {
    min-width: 360px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}


.header {
    height: 448px;
    width: 100%;
    background-image: linear-gradient(45deg, #fe6a82 0%, #9325ef 100%);
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-top:-60px;
    padding-top: 100px; 
}




.header::before {
    content: "";
    min-width: 48%;
    height: 50px;
    background-image: url("../wecreate-assets/wecreate-assets/img/wave-top2.svg");
    
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 1;
}


.header::after {
    content: "";
    min-width: 48%;
    height: 60px;
    background-image: url("../wecreate-assets/wecreate-assets/img/wave-top.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: -33px;
    z-index: 1;
}

.header__title {
    font-size: 116px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 0 -30px 0;
}

.header__title::after {
    content: ".";
    font-size: 1.5em;
    margin: 0;
}

.header__subtitle {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    background-color: transparent ;
    position: relative;
    z-index: 2;
    color: #582782;
}

//  I had to add "a" tag to force links to change color.
.navigation__link {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}




.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% ;

}

.right {
    flex-flow: row;
}

.left {
    flex-flow: row-reverse;
}

.subdescription {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 10%;
}

.subdescription__title {
    font-size: 27px;
    color: #5f1b98;
    font-family: "Montserrat";
    font-weight: bold;
    position: relative;
}
.backgroundNumber::before {
    content: attr(title);
    
    position: absolute;
    font-size: 170px;
    color: #e579d7;
    left: -96px;
    top: -30px;
    z-index: -1;
}


.subdescription__note {
    font-size: 12px;
    color: #440c74;
    font-family: "Roboto";
    line-height: 22px;
}

.subdescription__button {
    font-size: 15px;
    color: #440c74;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #440c74;
    height: 35px;
}

.description__image {
    display: inline-block;
    width: 65%;
    height: auto;
    margin: 0 2% 0 0;
}


.crazy-section {
    height: 500px;
    
    background-image: url('../wecreate-assets/wecreate-assets/img/fullbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    
}

.crazy-section__title {
    line-height: 500px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    font-size: 73px;

}

.footer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(-50deg, #9325ef 0%, #ff7fc4 100%);
    padding: 0 110px;
}

.marketing {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 45px 0 15px 0;
}

.marketing__title {
    color: #440c74;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 63px;
    

}

.marketing__designedBy {
    color: #541879;
    font-family: "Montserrat";
    justify-self: flex-end;
}

.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
}

.contact-form__label {
    margin: 0;
    font-size: 12px;
    line-height: 33px;
    color: #440c74;
    font-family: "Roboto";
}

.contact-form__area {
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #430b73;
}

.textarea {
    border: 1px solid #430b73;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.contact-form__button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 50%;
}

@media (min-width: 950px) {
    .header__subtitle {
        font-size:32px;
        margin: 10px 0;
    }

    .header::after {
        bottom: -30px;
    }
}

@media (max-width: 800px) {
    

    .crazy-section__title {
        font-size: 65px;
        line-height: 500px;
        margin: 0;
    }

    .footer {
        min-height: 900px;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 100px 50px 100px;  
        position: relative;  
    }

    .marketing {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 45px 0 15px 0;
        position: relative;
    }

    .marketing__designedBy {
        position: relative;
        top: 550px;
        z-index: 3;
    }

    .contact-form {
        width: 100%;
    }



}
  
@media (max-width: 760px) {
    .container {
        min-width: 375px;
    }

   

    .header {
        height: 300px;
        position: relative;
        z-index: 2;
        padding-right: 0;
        margin-top: 0; 

        
        
    }

    .header__title {
        font-size: 45px;
        
    }

    .header__subtitle {
        font-size: 18px;
        padding-top: 5px;
    }

    .header::after {
        height: 40px;
        bottom: -20px;
        right: -25px;
        
    }
    .header::before {
        height: 30px;
        bottom: 30px;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: red;
        padding: 0;
        width: 100%;
        height: 10vh;
        position: relative;
        z-index: 3;
        
   
    }

    .navigation__icon {
        align-self: flex-start;
    }

    .navigation__link {
        position: relative;
        left: -600px;
        top: 30px;
        width: 100%;
        padding:5px 50px;
        z-index: 4;
        background-color: green;
        line-height: 65px;
        
    }
    
    a.navigation__link--active {
        animation-name: active;
        animation-duration: 600ms;
        animation-direction: alternate;
        left: 0;
        
        
        
    }
    
    a.navigation__link--unactive {
        animation-name: unactive;
        animation-duration: 600ms;
        left: -600px;
    }
    

    .crazy-section__title {
        font-size: 45px;
    }

    .description__image {
        display: none;
    }

    .footer {
        height: 500px;
        padding: 0 20px;
    }

    .marketing {
        height: 200px;
        padding: 0;
    }

    .marketing__title {
        line-height: 40px;
        font-size: 45px;
    }

    .marketing__designedBy {
        position: relative;
        top: 620px;
        z-index: 3;
    }
   
}



@media (max-width: 590px) {
   
    
    .header::after {
        
        bottom: -25px;
      
    }

}
// keyframes

@keyframes active {
    0% {
        left: -600px
    }
    100% {
        left: 0;
    }
}

@keyframes unactive {
    0% {
        left: 0;
    }
    100% {
        left: -600px
    }
}